<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kő kövön!</h2>
                <hr class="light">
                <p class="text-faded">Cégünk az Unikornis Termelő és Szolgáltató Szociális Szövetkezet 2015 óta foglalkozik beton és műkő termékek gyártásával és értékesítésével. Elsősorban önkormányzatok, egyházak és közületek számára értékesítünk utcabútorokat és térköveket, de magánszemélyeknek is forgalmazunk kerti bútorokat illetve grilleket. A katalógusunkban fellelhető termékek gyártásán felül vállaljuk egyedi elképzelések megvalósítását is legyen szó műkő lépcsőről vagy akár modern konyhapultról.</p>
<p class="text-faded">Cégünk végez különböző kőből készült műtárgy restaurálásokat is. Műhelyünkben újultak meg már barokk szobrok, templom lépcső és készült teljes szobor másolat is. </p>

                <a href="#contact" class="btn btn-default btn-xl page-scroll">Lépjünk kapcsolatba!</a>
            </div>
        </div>
    </div>
</section>
